In [66]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import MinMaxScaler
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline,make_pipeline
from sklearn.feature_selection import SelectKBest,chi2
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.feature_selection import RFECV
from sklearn.metrics import classification_report
from sklearn.model_selection import GridSearchCV

import warnings
warnings.filterwarnings('ignore')
from google.colab import files
uploaded = files.upload()
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.utils.validation import check_is_fitted

Saving E_comm.csv to E_comm (3).csv

In [67]:
import io
df = pd.read_csv(io.BytesIO(uploaded['E_comm.csv']))

In [68]:
X=df.drop(columns=['Churn'])
y=df['Churn']

**7 questions**

In [69]:
X.head()

,CustomerID,Tenure,PreferredLoginDevice,CityTier,WarehouseToHome,PreferredPaymentMode,Gender,HourSpendOnApp,NumberOfDeviceRegistered,PreferedOrderCat,SatisfactionScore,MaritalStatus,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
0,50001,4.0,Mobile Phone,3,6.0,Debit Card,Female,3.0,3,Laptop & Accessory,2,Single,9,1,11.0,1.0,1.0,5.0,159.93
1,50002,NaN,Phone,1,8.0,UPI,Male,3.0,4,Mobile,3,Single,7,1,15.0,0.0,1.0,0.0,120.90
2,50003,NaN,Phone,1,30.0,Debit Card,Male,2.0,4,Mobile,3,Single,6,1,14.0,0.0,1.0,3.0,120.28
3,50004,0.0,Phone,3,15.0,Debit Card,Male,2.0,4,Laptop & Accessory,5,Single,8,0,23.0,0.0,1.0,3.0,134.07
4,50005,0.0,Phone,1,12.0,CC,Male,NaN,3,Mobile,5,Single,3,0,11.0,1.0,1.0,3.0,129.60

In [70]:
#How big is data
X.shape

(5630, 19)

In [71]:
#How does data look like
X.sample(5)

,CustomerID,Tenure,PreferredLoginDevice,CityTier,WarehouseToHome,PreferredPaymentMode,Gender,HourSpendOnApp,NumberOfDeviceRegistered,PreferedOrderCat,SatisfactionScore,MaritalStatus,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
2113,52114,13.0,Mobile Phone,3,32.0,E wallet,Male,3.0,3,Laptop & Accessory,5,Married,2,0,14.0,3.0,7.0,5.0,183.96
4824,54825,10.0,Mobile Phone,1,21.0,Debit Card,Male,4.0,4,Laptop & Accessory,1,Married,2,1,18.0,3.0,5.0,12.0,190.86
1195,51196,15.0,Computer,1,16.0,COD,Male,NaN,3,Mobile,3,Married,4,0,22.0,1.0,3.0,3.0,129.36
663,50664,1.0,Phone,1,16.0,UPI,Female,2.0,3,Laptop & Accessory,3,Single,4,0,13.0,1.0,1.0,7.0,136.60
1977,51978,15.0,Computer,1,NaN,CC,Male,2.0,3,Mobile,1,Single,6,1,14.0,1.0,2.0,2.0,125.15

In [72]:
#What is Dtype of columns
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5630 entries, 0 to 5629
Data columns (total 19 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   CustomerID                   5630 non-null   int64
 1   Tenure                       5366 non-null   float64
 2   PreferredLoginDevice         5630 non-null   object
 3   CityTier                     5630 non-null   int64
 4   WarehouseToHome              5379 non-null   float64
 5   PreferredPaymentMode         5630 non-null   object
 6   Gender                       5630 non-null   object
 7   HourSpendOnApp               5375 non-null   float64
 8   NumberOfDeviceRegistered     5630 non-null   int64
 9   PreferedOrderCat             5630 non-null   object
 10  SatisfactionScore            5630 non-null   int64
 11  MaritalStatus                5630 non-null   object
 12  NumberOfAddress              5630 non-null   int64
 13  Complain                     5630 non-null   int64
 14  OrderAmountHikeFromlastYear  5365 non-null   float64
 15  CouponUsed                   5374 non-null   float64
 16  OrderCount                   5372 non-null   float64
 17  DaySinceLastOrder            5323 non-null   float64
 18  CashbackAmount               5630 non-null   float64
dtypes: float64(8), int64(6), object(5)
memory usage: 835.8+ KB

In [73]:
#How does data look mathematically
X.describe()

,CustomerID,Tenure,CityTier,WarehouseToHome,HourSpendOnApp,NumberOfDeviceRegistered,SatisfactionScore,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
count,5630.000000,5366.000000,5630.000000,5379.000000,5375.000000,5630.000000,5630.000000,5630.000000,5630.000000,5365.000000,5374.000000,5372.000000,5323.000000,5630.000000
mean,52815.500000,10.189899,1.654707,15.639896,2.931535,3.688988,3.066785,4.214032,0.284902,15.707922,1.751023,3.008004,4.543491,177.223030
std,1625.385339,8.557241,0.915389,8.531475,0.721926,1.023999,1.380194,2.583586,0.451408,3.675485,1.894621,2.939680,3.654433,49.207036
min,50001.000000,0.000000,1.000000,5.000000,0.000000,1.000000,1.000000,1.000000,0.000000,11.000000,0.000000,1.000000,0.000000,0.000000
25%,51408.250000,2.000000,1.000000,9.000000,2.000000,3.000000,2.000000,2.000000,0.000000,13.000000,1.000000,1.000000,2.000000,145.770000
50%,52815.500000,9.000000,1.000000,14.000000,3.000000,4.000000,3.000000,3.000000,0.000000,15.000000,1.000000,2.000000,3.000000,163.280000
75%,54222.750000,16.000000,3.000000,20.000000,3.000000,4.000000,4.000000,6.000000,1.000000,18.000000,2.000000,3.000000,7.000000,196.392500
max,55630.000000,61.000000,3.000000,127.000000,5.000000,6.000000,5.000000,22.000000,1.000000,26.000000,16.000000,16.000000,46.000000,324.990000

In [74]:
#Are there duplicated values
X.duplicated().sum()

0

In [75]:
#How is the correlation between columns
X.corr()

,CustomerID,Tenure,CityTier,WarehouseToHome,HourSpendOnApp,NumberOfDeviceRegistered,SatisfactionScore,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
CustomerID,1.000000,0.029952,0.003239,0.058909,0.598417,0.411098,-0.033146,0.160814,-0.009944,0.117243,0.234302,0.139008,0.113243,0.217129
Tenure,0.029952,1.000000,-0.060688,-0.018218,-0.021226,-0.023983,-0.013903,0.237666,-0.021268,0.005825,0.129035,0.186403,0.184552,0.476380
CityTier,0.003239,-0.060688,1.000000,0.010624,-0.009150,0.027934,-0.011554,-0.029440,0.003375,-0.031408,0.021456,0.033388,0.017525,0.055746
WarehouseToHome,0.058909,-0.018218,0.010624,1.000000,0.060990,0.019071,0.007722,-0.011020,0.028696,0.038795,-0.003935,0.002681,0.017829,-0.009200
HourSpendOnApp,0.598417,-0.021226,-0.009150,0.060990,1.000000,0.316800,0.031858,0.145126,0.006976,0.106843,0.191528,0.109575,0.075716,0.121490
NumberOfDeviceRegistered,0.411098,-0.023983,0.027934,0.019071,0.316800,1.000000,-0.017228,0.084997,0.003407,0.069475,0.151685,0.103464,0.018208,0.137183
SatisfactionScore,-0.033146,-0.013903,-0.011554,0.007722,0.031858,-0.017228,1.000000,0.053583,-0.031115,-0.027730,0.017936,0.019764,0.032082,0.003473
NumberOfAddress,0.160814,0.237666,-0.029440,-0.011020,0.145126,0.084997,0.053583,1.000000,-0.026399,0.015533,0.042120,-0.007609,-0.064847,0.186688
Complain,-0.009944,-0.021268,0.003375,0.028696,0.006976,0.003407,-0.031115,-0.026399,1.000000,-0.004529,-0.008174,-0.019307,-0.043546,0.000525
OrderAmountHikeFromlastYear,0.117243,0.005825,-0.031408,0.038795,0.106843,0.069475,-0.027730,0.015533,-0.004529,1.000000,0.033201,0.023101,0.006003,0.017869
CouponUsed,0.234302,0.129035,0.021456,-0.003935,0.191528,0.151685,0.017936,0.042120,-0.008174,0.033201,1.000000,0.745245,0.358930,0.286728
OrderCount,0.139008,0.186403,0.033388,0.002681,0.109575,0.103464,0.019764,-0.007609,-0.019307,0.023101,0.745245,1.000000,0.497928,0.360984
DaySinceLastOrder,0.113243,0.184552,0.017525,0.017829,0.075716,0.018208,0.032082,-0.064847,-0.043546,0.006003,0.358930,0.497928,1.000000,0.347172
CashbackAmount,0.217129,0.476380,0.055746,-0.009200,0.121490,0.137183,0.003473,0.186688,0.000525,0.017869,0.286728,0.360984,0.347172,1.000000

In [76]:
#Are there any missing values
X.isnull().sum()

CustomerID                       0
Tenure                         264
PreferredLoginDevice             0
CityTier                         0
WarehouseToHome                251
PreferredPaymentMode             0
Gender                           0
HourSpendOnApp                 255
NumberOfDeviceRegistered         0
PreferedOrderCat                 0
SatisfactionScore                0
MaritalStatus                    0
NumberOfAddress                  0
Complain                         0
OrderAmountHikeFromlastYear    265
CouponUsed                     256
OrderCount                     258
DaySinceLastOrder              307
CashbackAmount                   0
dtype: int64

In [77]:
X['PreferredPaymentMode'].unique()

array(['Debit Card', 'UPI', 'CC', 'Cash on Delivery', 'E wallet', 'COD',
       'Credit Card'], dtype=object)

In [78]:
X.columns

Index(['CustomerID', 'Tenure', 'PreferredLoginDevice', 'CityTier',
       'WarehouseToHome', 'PreferredPaymentMode', 'Gender', 'HourSpendOnApp',
       'NumberOfDeviceRegistered', 'PreferedOrderCat', 'SatisfactionScore',
       'MaritalStatus', 'NumberOfAddress', 'Complain',
       'OrderAmountHikeFromlastYear', 'CouponUsed', 'OrderCount',
       'DaySinceLastOrder', 'CashbackAmount'],
      dtype='object')

In [79]:
numeric_features = X.select_dtypes(exclude="object").columns
# ['CustomerID', 'Tenure','CityTier','WarehouseToHome','HourSpendOnApp','NumberOfDeviceRegistered','SatisfactionScore','NumberOfAddress', 'Complain','OrderAmountHikeFromlastYear', 'CouponUsed', 'OrderCount','DaySinceLastOrder', 'CashbackAmount']

numeric_transformer = Pipeline(
    steps=[("imputer", SimpleImputer(strategy="median")), ("scaler", MinMaxScaler())]
)

In [80]:
from sklearn.feature_selection import SelectPercentile, chi2
categorical_features = X.select_dtypes(include="object").columns
#['PreferredLoginDevice','PreferredPaymentMode', 'Gender','PreferedOrderCat','MaritalStatus']

# custom transformer to Standardize categorical values
class PreferredPaymentModeTransformer(BaseEstimator,TransformerMixin):

  def fit(self, X, y=None):
    return self
    
  def transform(self, X):
    X['PreferredPaymentMode'] = X['PreferredPaymentMode'].str.replace('Cash on Delivery','COD')
    X['PreferredPaymentMode'] = X['PreferredPaymentMode'].str.replace('Credit Card','CC')
    return df

Preferred_PaymentMode_Transformer=PreferredPaymentModeTransformer()

#custom transformer to Remove space and special characters before OHE
class ReplaceTransformer(BaseEstimator,TransformerMixin):

  def fit(self, X, y=None):
    return self

  def transform(self, X):
    X = X.replace(' ', '_', regex=True)
    X = X.replace('&', 'And', regex=True)
    return X

Replace_Transformer=ReplaceTransformer()

categorical_transformer = Pipeline(
    steps=[
        ("Preferred_PaymentMode_Transformer",PreferredPaymentModeTransformer()),
        ("Replace_Transformer",ReplaceTransformer()),
        ("encoder", OneHotEncoder(handle_unknown="ignore")),
        ("selector", SelectPercentile(chi2, percentile=50))
    ]
)

In [81]:
# outlier removal
class OutlierRemover(BaseEstimator,TransformerMixin):

  def fit(self, X, y=None):
    return self

  def transform(self, X):
    for col in self.columns:
      Q1 = X[col].quantile(0.25)
      Q3 = X[col].quantile(0.75) 
      IQR=Q3-Q1
      lr= Q1-(1.5 * IQR)
      ur= Q3+(1.5 * IQR)
      X[col]=np.where(X[col]>ur,ur,X[col])
      X[col]=np.where(X[col]<lr,lr,X[col])
    return X



outlier_remover = OutlierRemover()

#ColumnTransformer to remove outliers
Outlier_rem_trans = Pipeline(
    steps=[
        ("outlier_remover",OutlierRemover())
        ]
)

In [82]:
preprocessor = ColumnTransformer(
    transformers=[
        ("num", numeric_transformer, numeric_features),
        ("cat", categorical_transformer, categorical_features),
        ("out", Outlier_rem_trans, X)
    ]
)

In [84]:
clf = Pipeline(
    steps=[("preprocessor", preprocessor), ("classifier", RandomForestClassifier())]
)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=43)

clf.fit(X_train, y_train)
print("model score: %.3f" % clf.score(X_test, y_test))

ValueError: ignored